--extra-index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://huggingface.github.io/autogptq-index/whl/cu118/

torch==2.2.1+cu118
torchvision==0.17.1+cu118
torchaudio==2.2.1+cu118

auto-gptq==0.7.1+cu118
accelerate
unstructured
optimum
backoff==2.2.1
Bio==1.8.0
biopython==1.85
dspy_ai==2.4.13
keybert==0.8.5
langchain_text_splitters==0.3.8
llama-index==0.11.3
ollama==0.3.2
llama-index-llms-ollama==0.3.0
llama-index-embeddings-ollama==0.3.0
llama-index-retrievers-bm25==0.4.0
protobuf==3.20
neo4j==5.28.1
networkx==3.4.2
nltk==3.9.1
outlines==0.0.46
owlready2==0.47
pydantic==2.11.5
pydantic_core==2.33.2
pyvis==0.3.2
Requests==2.32.4
sentence_transformers==4.1.0
setuptools==65.5.0
streamlit==1.45.1
streamlit_agraph==0.0.45
transformers==4.43.4
weave==0.51.1
